
.acerca{
    padding-left: 40px;
}

#imgPerfil{
    width: 45%;
}

@media (min-width: 577px) {
    #imgPerfil{
        width: 75%;
    }
  }
  
  @media (min-width:1200px){
    #imgPerfil{
        width: 90%;
        margin-left: 300px;
    }
  }