<div class="row pt-2">
    <div class=" offset-sm-4  col-sm-8 offset-md-0  col-md-4 col-lg-3 col-xl-2   ">
        <img class="rounded-circle" src="../../../assets/perfil.jpg" alt="">
    </div>
    <div class=" col-sm-12 col-md-4 col-lg-5 col-xl-3 ">
        <p  class="h2 "> </p>
        <p class="h3 ">Full stack developer junior</p>
    </div>
    <div class=" col-sm-12 col-md-4 col-lg-4 col-xl-6 ">
        <p class="h4">Acerca de mí</p>
        <p class="h5 ">{{datatable[0].Descripcion}}</p>

    </div>
</div>