    <div class="col-md-2 boton">
        <button type="button" class="btn btn-primary  ">Login</button>    
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-2">
                    <a href="" ><img src="../../../assets/faceblue.png" alt=""></a>
                </div>
                <div class="col-md-2">
                    <a href=""><img src="../../../assets/dinblue.png" alt=""></a>
                </div>
                <div class="col-md-2">
                    <a href=""><img src="../../../assets/icons8-github-400.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    

