

<p class="h5 text-warning  ms-2">Contacto</p>
<span class="fs-5 ms-2">Tel: {{persona[0].Telefono}} </span>
<span class="fs-5 ms-3">Redes:</span>
<a href="" class="img-fluid "><img src="../../../assets/faceblue.png" alt="" /></a>
<a href=""><img src="../../../assets/dinblue.png" alt="" /></a>
<a href=""><img src="../../../assets/icons8-github-400.png" alt="" /></a>

<button type="button" class="btn btn-primary" (click)="login()" *ngIf="!isLogged">Ingresar</button>
<button type="button" class="btn btn-primary" (click)="logOut()" *ngIf="isLogged">Cerrar Sesion</button>

