<div class="row  mt-4">
    <div class="col-md-3">
        <p class="h1">Hard y Soft Skills</p>
    </div>
    <div class="row" >
        <div class="col-md-2 ">
            <button type="button" class="btn btn-success" routerLink="/nuevaskil" *ngIf="isLogged"  >
                Nueva Skill
            </button>
        </div>
    </div>
</div>
<div class="row" >
    
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-2 text-center mx-3 " *ngFor="let skill of skills">
        <circle-progress
        [percent]= "skill.Dominio"
        [radius]="100"
        [imageSrc]="'data:image/png;base64,'+ skill.Foto "
        [showImage]="true"
        [imageHeight]="95"
        [imageWidth]="110"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    <button class="btn btn-success" id="editar" routerLink="/editskill/{{skill.Id}}" *ngIf="isLogged">Editar</button>
    <button class="btn btn-danger" id="borrar" (click)="deleteSkill(skill.Id)" *ngIf="isLogged">Borrar</button>
    </div>
</div>
