.row{
    padding-left: 20px;
}


.custom-width{
    width: 80%;
}

  @media (min-width: 577px) {
    .custom-width {
      width: 70%;
      height: auto;
    }
  }

@media (min-width:1200px){
    .custom-width{
        width: 70%;
        height: auto;
    }
}
#borrar{
    margin-left: 10px;
}

.invisible-izq{
  opacity: 0;
  transform: translateX(-20px);
}
.invisible-derecha{
  opacity: 0;
  transform: translateX(100px);
}
.visible{
  opacity: 1;
  transition: .5s ease-in-out all;
  transform: scale(1) translateX(0px);
}
