
<div class="row mt-4">
    <div class="col-md-5 offset-md-4">
        <h1 class="ms-2 text-warning">Habilidades <img src="../../../assets/compu.png" width="20%" height="15%" ></h1>
    </div>
</div>
<div class="row" >
    <div class="col-lg-2 text-start " *ngIf="isLogged">
        <button type="button" class="btn btn-success" routerLink="/nuevaskil"   >
            Nueva Skill
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <p class="h4 ms-2">Frontend</p>    
    </div>
</div>
<div class="row mt-1">
    <ng-container *ngFor="let skill of skills;let i = index;">
        <div class="col-5 col-md-2 col-lg-2 col-xl-2 mt-1 text-center"  *ngIf="skill.Tipo=='Frontend'"  >
            <img [src]="'data:image/png;base64,'+ skill.Imagen " class="img-fluid  custom-width invisible-derecha"  alt="" id="imgSkill">
            <p class="  text-ligth  text-uppercase  fw-bolder invisible-izq" id="nombreSkill">{{skill.Skillname}} </p>
            <button class="btn btn-success" id="editar" routerLink="/editskill/{{skill.Id}}" *ngIf="isLogged && skill.Tipo=='Frontend' " >Editar</button>
            <button class="btn btn-danger" id="borrar" (click)="deleteSkill(skill.Id)" *ngIf="isLogged && skill.Tipo=='Frontend'">Borrar</button>
        </div>
        
    </ng-container>
        
</div>

<div class="row mt-3">
    <div class="col-md-2 ms-2">
        <p class="h4 ">Backend y Bases de datos</p>    
    </div>
</div>
<div class="row">
        <ng-container *ngFor="let skill of skills">
            <div class=" col-5 col-md-2 col-lg-3 col-xl-2 mt-2 text-center"  *ngIf="skill.Tipo=='Backend'"  >
            <img [src]="'data:image/png;base64,'+ skill.Imagen " class="img-fluid  custom-width invisible-izq" alt="" id="imgSkill">
            <p class="  text-ligth text-uppercase  fw-bolder invisible-izq" id="nombreSkill">{{skill.Skillname}} </p>
            <button class="btn btn-success" id="editar" routerLink="/editskill/{{skill.Id}}" *ngIf="isLogged && skill.Tipo=='Backend' " >Editar</button>
            <button class="btn btn-danger" id="borrar" (click)="deleteSkill(skill.Id)" *ngIf="isLogged && skill.Tipo=='Backend'">Borrar</button>
            </div>
        </ng-container>
        
        
</div>
    
    
    

