<div class="container">
    <div class="row">
        <p class="h1 text-center mt-3">Agregar Skill</p>
    </div>
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group col-md-5 offset-md-3">
                    <label for="puestoE">Nombre</label>
                    <input type="text" class="form-control input-sm" id="puestoE" name="puestoE" [(ngModel)]="nombreS" required>
                </div>
                <div class="form-group col-md-5 offset-md-3">
                    <label for="periodoE">Dominio</label>
                    <input type="text" class="form-control" id="periodoE" name="periodoE" [(ngModel)]="dominioS" required>
                </div>
                <div class="form-group col-md-5 offset-md-3">
                    <label for="descripcionE">ícono</label>
                    <input type="file"  class="form-control" id="descripcionE" name="descripcionE"  (change)="onSelectedFile($event)" required>
                </div>
                <div class="form-group col-md-5 offset-md-3">
                    <label for="tipo" >Tipo</label>
                    <select name="tipo" id="tipo" class="form-select" [(ngModel)]="tipo">
                        <option value="Frontend">Frontend</option>
                        <option value="Backend">Backend</option>
                    </select>
                </div>
                <div class="col-md-5 offset-md-3"><button class="btn btn-success mt-3">
                    Agregar skill
                </button></div>
                <div class="col-md-5 offset-md-5 mt-3" >
                    <img [src]="url"  height="200">
                </div>
                 
            </form>
        </div>
    </div>
</div>