<div class="row mt-4 ">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged" >
            Nueva Experiencia
        </button>
    </div>
     <div class="col-lg-10 offset-lg-1 ">
        <table class="table">
            <tbody class="text-white">
                <tr *ngFor="let Experiencia of experiencia">
                    <td>{{Experiencia.Puesto}}</td>
                    <td>{{Experiencia.Periodo}}</td>
                    <td>{{Experiencia.Desc}}</td>
                    <td *ngIf="isLogged" ><button class="btn btn-success" routerLink="/editexp/{{Experiencia.Id}}">Editar</button> </td>
                    <td *ngIf="isLogged"> <button class="btn btn-danger" (click)="eliminarExp(Experiencia.Id)">Borrar</button> </td>
                </tr>
            </tbody>
        </table>
     </div>
</div>