
.custom-width{
    width: 100%;
    height: 300px;
}

  @media (min-width: 577px) {
    .custom-width {
      width: 70%;
      height: auto;
    }
  }

@media (min-width:1200px){
    .custom-width{
        width: 95%;
        height: 600px;
        padding-left: 10px;
        padding-top: 20px;
    }
}



.contenedor{
  position: relative;
  width: 100%;
  height: 250px;
  text-align: center;
}

.texto-encima {
  position: absolute;
  top: 23%;
  left: 175px;
  transform: translate(-50%, -50%);
  text-align: right;
  color: white;
}
.texto-encima2 {
  position: absolute;
  top:70%;
  left: 150px;
  transform: translate(-50%, -50%);
  text-align: right;
  color: white;
}

.github{
  position: absolute;
  top:85%;
  left: 8rem;
  transform: translate(-50%, -50%);
  width: 1.8rem;
}
.facebook{
  position: absolute;
  top:85%;
  left: 3.5rem;
  transform: translate(-50%, -50%);
  width: 1.8rem;
}
.linkedin{
  position: absolute;
  top:85%;
  left: 10rem;
  transform: translate(-50%, -50%);
  width: 1.8rem;
}
@media (min-width: 577px) {
  .contenedor {
    width: 70%;
    height: auto;
  }
}

@media (min-width:1200px){
  .contenedor{
      width: 100%;
      height: 600px;
  }
  .texto-encima{
    position: absolute;
    top:17%;
    left:41rem;
    font-size: 3rem;
  }

  .texto-encima2{
    position: absolute;
    top:25rem;
    left:520px;
    font-size: 2rem;
  }


  .github{
    position: absolute;
    top:32.2rem;
    left: 33.5rem;
    transform: translate(-50%, -50%);
    width: 4rem;
  }
  .facebook{
    position: absolute;
    top:16.1rem;
    left: 13.5rem;
    transform: translate(-50%, -50%);
    width: 4rem;
  }
  .linkedin{
    position: absolute;
    top:32.2rem;
    left: 29.2rem;
    transform: translate(-50%, -50%);
    width: 4rem;
  }
}

#banner{
  width: 100%;
  height: 100%;
}