
    <!--<div class="col-12 text-center ">
        <img class="shadow-lg  rounded ps-0  img-fluid custom-width " src="../../../assets/bannerrrrr.jpg" alt="" >

    </div>-->
    
        
     



<div class="contenedor">
    
    <picture>
        <source media="(min-width: 768px)" srcset="../../../assets/baner7.jpg" id="banner">
        <img src="../../../assets/banermovil.jpg " alt="Imagen para dispositivos móviles" id="banner">
      </picture>
    <div class="texto-encima ">
      <p class="text-start">Bienvenido a mi portfolio</p>
    </div>
    <div class="texto-encima2">
        <p class="text-start">{{persona[0].Nombre}} {{persona[0].Apellido}} </p>
        <p class="text-start ">{{persona[0].Oficio}}  </p>
    </div>
    
        <a href="{{redes[0].Link}}" class="facebook" ><img src="../../../assets/faceblue.png" alt="" class="facebook" /></a>
        <a href="{{redes[1].Link}}"  ><img src="../../../assets/dinblue.png" alt="" class="linkedin" /></a>
        <a href="{{redes[2].Link}}"><img src="../../../assets/icons8-github-400.png" alt="" class="github" /></a>
    
</div>
  