/* You can add global styles to this file, and also import other style files */
body{
    /*background: #485563; 
    background: -webkit-linear-gradient(to right, #29323c, #485563);  
    background: linear-gradient(to right, #29323c, #485563);  
    color: white;*/
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color : white;
    overflow-x: hidden;
}
.invisible-izq{
    opacity: 0;
    transform: translateX(-7%);
}
.invisible-derecha{
    opacity: 0;
    transform: translateX(10%);
}
.visible{
    opacity: 1;
    transition: .5s ease-in-out all;
    transform: scale(1) translateX(0px);
}

p{
    font-family: 'Poppins', sans-serif;
    font-size:  105%;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size:  135%;
}

@media (min-width: 577px) {
    .custom-width {
      width: 70%;
      height: auto;
    }
  }

@media (min-width:1200px){
    p{
        font-family: 'Poppins', sans-serif;
        font-size:  125%;
    }
    
    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 210%;
    }
}