<div class="row mt-4 ">
    <div class="col-md-11 "><p class="h1 ">Educación</p></div>
</div>
<div class="row mt-2">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <p class="h3">- Bachiller con orientación en administración de empresas (Instituto Nueva Gente y 
            Escuela Secundaria Media Nº203, Tristán Suarez).</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <p class="h3">- Actualmente cursando
            ultimas 2 materias de la  Tecnicatura
            Universitaria en Desarrollo de
            Software en la Universidad
            Provincial de Ezeiza.</p>
            <button class="btn btn-outline-light btn-lg px-5" *ngIf="isLogged"  >agregar</button>
    </div>
</div>