<div class="row mt-4 ">
    <div class="col-md-8 offset-md-4 text-warning"><p class="h1 ">Educación <img src="../../../assets/study2.png" width="70" height="70"></p>
    <a class="btn btn-success" href="/nuevaFormacion" *ngIf="isLogged">agregar</a>
    </div>
    
</div>
<ng-container *ngFor="let estudio of estudios">
    <div class="row mt-2">
        <div class="col-2 col-md-1 text-end invisible-izq" id="iconoEstudio">
            <img src="../../../assets/title2.png " alt="" class="img fluid custom-width">
        </div>
        <div class="col-8 col-md-9 invisible-derecha " id="estudio">
            <p class="h3"> {{estudio.Age}} {{estudio.Titulo}} ({{estudio.Institucion}}) </p>
        </div>
        <div class="col-md-2 "*ngIf="isLogged">
            <a class="btn btn-success"  href="/editarFormacion/{{estudio.Id}}" >Editar</a>
            <button class="btn btn-warning ms-2"  (click)="deleteEstudio(estudio.Id)">Borrar</button>
        </div>
        
    </div>
</ng-container>
