<div class="row mt-4 ">
    <div class="col-md-8 offset-md-4 text-warning"><h1 class="text-ligth">Educación <img src="../../../assets/study2.png" width="70" height="70"></h1>
    <a class="btn btn-success" href="/nuevaFormacion" *ngIf="isLogged">agregar</a>
    </div>
    
</div>
<ng-container *ngFor="let estudio of estudios">
    <div class="row mt-2">
        <div class="col-2 col-md-1 text-end invisible-izq iconoEstudio" >
            <img src="../../../assets/title2.png " alt="" class="img fluid custom-width">
        </div>
        <div class="col-8 col-md-9 invisible-derecha estudio" >
            <p class="text-ligth"> ({{estudio.Age}}) {{estudio.Titulo}} ({{estudio.Institucion}}) </p>
        </div>
        <div class="col-md-2 "*ngIf="isLogged">
            <button class="btn btn-success"   routerLink="/editarFormacion/{{estudio.Id}}">Editar</button>
            <button class="btn btn-warning ms-2"  (click)="deleteEstudio(estudio.Id)">Borrar</button>
        </div>
        
    </div>
</ng-container>
