<div class="row">
    <div class="col-md-5 offset-md-4 ">
        <h1 class="text-warning">Proyectos <img src="../../../assets/project.png" width="20%" height="100%"></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button class="btn btn-success" routerLink="/nuevoProyecto"  *ngIf="isLogged">Nuevo Proyecto</button>
    </div>
</div>
<div  class="row mt-3  " *ngFor="let proyecto of proyectos" >
    <div class="col-12 col-lg-4 col-md-6 invisible-izq" id="datosProyecto">
        <p class="text-warning">{{proyecto.Nombre}}</p>
        <p class="text-ligth">{{proyecto.Descripcion}}</p>
        <a href="{{proyecto.Web}}" class="btn btn-primary" target="_blank">Link web</a>
        <a href="{{proyecto.Link}}" class="btn btn-primary ms-2" target="_blank">Link repositorio</a>
    </div>
    <div class="col-12 col-lg-4 col-md-3  mt-2  invisible-izq zoomimg" id="imagenesProyecto">
        <img  class="rounded imgProject " [src]="'data:image/png;base64,'+ proyecto.Imagen"  >
    </div>
    <div class="col-12 col-lg-4 col-md-3  mt-2 invisible-izq zoomimg" id="imagenesProyecto">
        <img  class="rounded imgProject " [src]="'data:image/png;base64,'+ proyecto.Imagen2"  >
    </div>
    <div class="col-lg-2 col-md-3" *ngIf="isLogged">
        <button class="btn btn-success me-2" routerLink="/editproyecto/{{proyecto.Id}}" >Editar</button>
        <button class="btn btn-danger" (click)="deleteProject(proyecto.Id) " >Borrar</button>
    </div>
</div>