<div class="row">
    <div class="col-md-5 offset-md-4 ">
        <h1 class="text-warning">Proyectos <img src="../../../assets/project.png" width="20%" height="100%"></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button class="btn btn-success" routerLink="/nuevoProyecto"  *ngIf="isLogged">Nuevo Proyecto</button>
    </div>
</div>
<div  class="row mt-3 " *ngFor="let proyecto of proyectos" >
    <div class="col-12 col-lg-3 col-md-12 invisible-derecha datosProyecto" id="">
        <p class="text-warning">{{proyecto.Nombre}} </p>
        <p class="text-ligth desc">{{proyecto.Descripcion}}</p>
        <a href="{{proyecto.Web}}" class="btn btn-sm  btn-primary me-2" target="_blank">Web</a>
        <a href="{{proyecto.Link}}" class="btn btn-sm btn-primary" target="_blank">Repositorio</a>
    </div>
    <div class="col-12 col-lg-8 col-md-10 offset-md-1 mt-md-2 offset-lg-0" >
        <img  class="imgProject rounded mt-2 mt-lg-0  me-lg-2 zoomimg invisible-derecha  imagenesProyecto" id="" (mouseover)="hacerZoom($event)" (mouseout)="restaurarImagenes()"  [src]="'data:image/png;base64,'+ proyecto.Imagen"  >
        <img  class="imgProject rounded mt-2 mt-lg-0 zoomimg  invisible-derecha imagenesProyecto "  id="" (mouseover)="hacerZoom($event)" (mouseout)="restaurarImagenes()" [src]="'data:image/png;base64,'+ proyecto.Imagen2"  >
    </div>
    
  
    <div class="col-lg-2 col-md-3" *ngIf="isLogged">
        <button class="btn btn-success me-2" routerLink="/editproyecto/{{proyecto.Id}}" >Editar</button>
        <button class="btn btn-danger" (click)="deleteProject(proyecto.Id) " >Borrar</button>
    </div>
</div>